<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
            <dict>
      <key>button:normal</key>
        <dict>
            <key>frame</key>
            <string>{{104,97},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>button:dimmed</key>
        <dict>
            <key>frame</key>
            <string>{{121,97},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>button:pressed</key>
        <dict>
            <key>frame</key>
            <string>{{138,97},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>button:selected</key>
        <dict>
            <key>frame</key>
            <string>{{155,97},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>radioButton:dimmed</key>
        <dict>
            <key>frame</key>
            <string>{{666,0},{86,90}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{86,90}}</string>
            <key>sourceSize</key>
            <string>{86,90}</string>
        </dict>
      <key>button:focused</key>
        <dict>
            <key>frame</key>
            <string>{{172,97},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>radioButton:pressed</key>
        <dict>
            <key>frame</key>
            <string>{{753,0},{86,90}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{86,90}}</string>
            <key>sourceSize</key>
            <string>{86,90}</string>
        </dict>
      <key>progress:border</key>
        <dict>
            <key>frame</key>
            <string>{{840,91},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>radioButton:normal</key>
        <dict>
            <key>frame</key>
            <string>{{840,0},{86,90}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{86,90}}</string>
            <key>sourceSize</key>
            <string>{86,90}</string>
        </dict>
      <key>checkbox:selected</key>
        <dict>
            <key>frame</key>
            <string>{{0,0},{103,125}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{103,125}}</string>
            <key>sourceSize</key>
            <string>{103,125}</string>
        </dict>
      <key>checkbox:pressed</key>
        <dict>
            <key>frame</key>
            <string>{{87,126},{86,86}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{86,86}}</string>
            <key>sourceSize</key>
            <string>{86,86}</string>
        </dict>
      <key>checkbox:dimmed</key>
        <dict>
            <key>frame</key>
            <string>{{174,126},{86,86}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{86,86}}</string>
            <key>sourceSize</key>
            <string>{86,86}</string>
        </dict>
      <key>checkbox:normal</key>
        <dict>
            <key>frame</key>
            <string>{{261,126},{86,86}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{86,86}}</string>
            <key>sourceSize</key>
            <string>{86,86}</string>
        </dict>
      <key>progress:bar</key>
        <dict>
            <key>frame</key>
            <string>{{106,116},{4,4}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{4,4}}</string>
            <key>sourceSize</key>
            <string>{4,4}</string>
        </dict>
      <key>rounded:pressed</key>
        <dict>
            <key>frame</key>
            <string>{{201,0},{92,92}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{92,92}}</string>
            <key>sourceSize</key>
            <string>{92,92}</string>
        </dict>
      <key>rounded:focused</key>
        <dict>
            <key>frame</key>
            <string>{{294,0},{92,92}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{92,92}}</string>
            <key>sourceSize</key>
            <string>{92,92}</string>
        </dict>
      <key>step:normal</key>
        <dict>
            <key>frame</key>
            <string>{{1014,0},{8,8}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{8,8}}</string>
            <key>sourceSize</key>
            <string>{8,8}</string>
        </dict>
      <key>switch:off</key>
        <dict>
            <key>frame</key>
            <string>{{192,117},{4,4}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{4,4}}</string>
            <key>sourceSize</key>
            <string>{4,4}</string>
        </dict>
      <key>switch:thumbOff</key>
        <dict>
            <key>frame</key>
            <string>{{175,117},{4,4}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{4,4}}</string>
            <key>sourceSize</key>
            <string>{4,4}</string>
        </dict>
      <key>radioButton:focused</key>
        <dict>
            <key>frame</key>
            <string>{{927,0},{86,90}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{86,90}}</string>
            <key>sourceSize</key>
            <string>{86,90}</string>
        </dict>
      <key>step:selected</key>
        <dict>
            <key>frame</key>
            <string>{{1014,9},{8,8}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{8,8}}</string>
            <key>sourceSize</key>
            <string>{8,8}</string>
        </dict>
      <key>step:border</key>
        <dict>
            <key>frame</key>
            <string>{{840,108},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>slider:handle</key>
        <dict>
            <key>frame</key>
            <string>{{857,91},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>divider:background</key>
        <dict>
            <key>frame</key>
            <string>{{158,117},{4,4}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{4,4}}</string>
            <key>sourceSize</key>
            <string>{4,4}</string>
        </dict>
      <key>tumbler:normal</key>
        <dict>
            <key>frame</key>
            <string>{{104,0},{96,96}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{96,96}}</string>
            <key>sourceSize</key>
            <string>{96,96}</string>
        </dict>
      <key>tab:normal</key>
        <dict>
            <key>frame</key>
            <string>{{860,111},{4,10}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{4,10}}</string>
            <key>sourceSize</key>
            <string>{4,10}</string>
        </dict>
      <key>tab:pressed</key>
        <dict>
            <key>frame</key>
            <string>{{192,100},{4,10}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{4,10}}</string>
            <key>sourceSize</key>
            <string>{4,10}</string>
        </dict>
      <key>tumbler:selected</key>
        <dict>
            <key>frame</key>
            <string>{{874,91},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>switch:on</key>
        <dict>
            <key>frame</key>
            <string>{{141,117},{4,4}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{4,4}}</string>
            <key>sourceSize</key>
            <string>{4,4}</string>
        </dict>
      <key>textInput:selected</key>
        <dict>
            <key>frame</key>
            <string>{{874,108},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>textInput:normal</key>
        <dict>
            <key>frame</key>
            <string>{{891,91},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>textInput:focused</key>
        <dict>
            <key>frame</key>
            <string>{{891,108},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>rounded:dimmed</key>
        <dict>
            <key>frame</key>
            <string>{{387,0},{92,92}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{92,92}}</string>
            <key>sourceSize</key>
            <string>{92,92}</string>
        </dict>
      <key>textInput:dimmed</key>
        <dict>
            <key>frame</key>
            <string>{{908,91},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>rounded:normal</key>
        <dict>
            <key>frame</key>
            <string>{{480,0},{92,92}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{92,92}}</string>
            <key>sourceSize</key>
            <string>{92,92}</string>
        </dict>
      <key>textInput:placeholder</key>
        <dict>
            <key>frame</key>
            <string>{{908,108},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>radioButton:selected</key>
        <dict>
            <key>frame</key>
            <string>{{0,126},{86,90}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{86,90}}</string>
            <key>sourceSize</key>
            <string>{86,90}</string>
        </dict>
      <key>rounded:selected</key>
        <dict>
            <key>frame</key>
            <string>{{573,0},{92,92}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{92,92}}</string>
            <key>sourceSize</key>
            <string>{92,92}</string>
        </dict>
      <key>progress:background</key>
        <dict>
            <key>frame</key>
            <string>{{753,91},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>progress:thumb</key>
        <dict>
            <key>frame</key>
            <string>{{1016,20},{4,4}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{4,4}}</string>
            <key>sourceSize</key>
            <string>{4,4}</string>
        </dict>
      <key>step:background</key>
        <dict>
            <key>frame</key>
            <string>{{1014,27},{8,8}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{8,8}}</string>
            <key>sourceSize</key>
            <string>{8,8}</string>
        </dict>
      <key>switch:border</key>
        <dict>
            <key>frame</key>
            <string>{{753,108},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>step:dimmed</key>
        <dict>
            <key>frame</key>
            <string>{{1014,36},{8,8}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{8,8}}</string>
            <key>sourceSize</key>
            <string>{8,8}</string>
        </dict>
      <key>switch:thumbOn</key>
        <dict>
            <key>frame</key>
            <string>{{124,117},{4,4}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{4,4}}</string>
            <key>sourceSize</key>
            <string>{4,4}</string>
        </dict>
      <key>tab:border</key>
        <dict>
            <key>frame</key>
            <string>{{789,110},{4,8}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{4,8}}</string>
            <key>sourceSize</key>
            <string>{4,8}</string>
        </dict>
      <key>slider:last</key>
        <dict>
            <key>frame</key>
            <string>{{770,91},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
      <key>tab:selected</key>
        <dict>
            <key>frame</key>
            <string>{{773,111},{4,10}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{4,10}}</string>
            <key>sourceSize</key>
            <string>{4,10}</string>
        </dict>
      <key>slider:background</key>
        <dict>
            <key>frame</key>
            <string>{{1017,48},{2,2}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{2,2}}</string>
            <key>sourceSize</key>
            <string>{2,2}</string>
        </dict>
      <key>tumbler:dimmed</key>
        <dict>
            <key>frame</key>
            <string>{{787,91},{16,16}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{16,16}}</string>
            <key>sourceSize</key>
            <string>{16,16}</string>
        </dict>
    </dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skinAtlas.png</string>
            <key>size</key>
            <string>{undefined,undefined}</string>
            <key>textureFileName</key>
            <string>skinAtlas.png</string>
        </dict>
    </dict>
</plist>